.wrap {
  min-width: 1000px;
}
.wrap .wrap-inner {
  margin: 0 auto;
}
.wrap .wrap-inner .header {
  margin: 0px auto;
  position: relative;
}
.wrap .wrap-inner .header .header-inner .header-content {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
.wrap .wrap-inner .header .header-inner .header-content ul {
  width: 663px;
  margin: 35px auto 0px;
  display: flex;
  align-items: center;
}
.wrap .wrap-inner .header .header-inner .header-content ul li {
  font-weight: bold;
}
.wrap .wrap-inner .header .header-inner .header-content ul li:not(:last-child) {
  padding-right: 75px;
}
.wrap .wrap-inner .header .header-inner .header-content ul li a {
  color: #000;
  text-decoration: none;
}
.wrap .wrap-inner .header .header-inner .header-main img {
  width: 100%;
}
.wrap .wrap-inner .main .main-inner .box01 {
  background-color: #f7f7f7;
  padding-top: 100px;
  padding-bottom: 140px;
}
.wrap .wrap-inner .main .main-inner .box01 dl {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
.wrap .wrap-inner .main .main-inner .box01 dl dt {
  margin-bottom: 42px;
}
.wrap .wrap-inner .main .main-inner .box01 dl dd {
  font-size: 18px;
  line-height: 1.8;
}
.wrap .wrap-inner .main .main-inner .box01 dl dd:nth-of-type(1) {
  margin-bottom: 35px;
}
.wrap .wrap-inner .main .main-inner .content {
  margin: 0 auto;
}
.wrap .wrap-inner .main .main-inner .content .content-inner ul {
  overflow: hidden;
}
.wrap .wrap-inner .main .main-inner .content .content-inner ul li {
  float: left;
}
.wrap .wrap-inner .main .main-inner .content .content-inner ul li img {
  width: 100%;
  vertical-align: middle;
}
.wrap .wrap-inner .main .main-inner .content .content-inner ul li dl dt {
  padding-bottom: 1.6%;
}
.wrap .wrap-inner .main .main-inner .content .content-inner ul .first-content {
  width: 67%;
}
.wrap .wrap-inner .main .main-inner .content .content-inner ul .first-content02 {
  width: 66.999%;
}
.wrap .wrap-inner .main .main-inner .content .content-inner ul .second-content {
  width: 33%;
}
.wrap .wrap-inner .main .main-inner .content .content-inner .content-block03 .first-content {
  width: 33.45%;
}
.wrap .wrap-inner .main .main-inner .swiper-container .new-work {
  height: auto;
}
.wrap .wrap-inner .main .main-inner .swiper-container .new-work .new-work-inner {
  background-color: #a1ffcb;
  width: 100%;
  height: auto;
  padding: 125px 0px 182px 0px;
  background-color: #f7f7f7;
}
.wrap .wrap-inner .main .main-inner .swiper-container .new-work .new-work-inner ul {
  max-width: 996px;
  margin: 0 auto;
  width: 100%;
}
.wrap .wrap-inner .main .main-inner .swiper-container .new-work .new-work-inner ul li {
  color: #848789;
  text-align: center;
  font-size: 24px;
}
.wrap .wrap-inner .main .main-inner .swiper-container .new-work .new-work-inner ul li dl {
  display: flex;
  margin: 0 auto;
  width: 337px;
}
.wrap .wrap-inner .main .main-inner .swiper-container .new-work .new-work-inner ul li dl dt {
  color: #000;
  margin-right: 14px;
}
.wrap .wrap-inner .main .main-inner .swiper-container .new-work .new-work-inner ul li dl dd {
  font-size: 18px;
}
.wrap .wrap-inner .main .main-inner .swiper-container .new-work .new-work-inner ul li:last-child {
  line-height: 1.6;
}
.wrap .wrap-inner .main .main-inner .swiper-container .new-work .new-work-inner ul li:nth-of-type(1) {
  margin-bottom: 27px;
}
.wrap .wrap-inner .main .main-inner .swiper-container .new-work .new-work-inner ul li:nth-of-type(2) {
  margin-bottom: 38px;
}
.wrap .wrap-inner .main .main-inner .swiper-container .new-work .s-in02 {
  background-color: #d4dde8;
}
.wrap .wrap-inner .main .main-inner .swiper-container .new-work .s-in03 {
  background-color: #d5edca;
}
.wrap .wrap-inner .main .main-inner .swiper-container .swiper-pagination-bullets {
  bottom: 103px;
}
.wrap .wrap-inner .main .main-inner .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet-active {
  width: 13px;
  height: 13px;
  background: #a9afb3 !important;
}
.wrap .wrap-inner .main .main-inner .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  background: #fff;
  border: 1px solid #a9afb3;
  opacity: 1;
  margin: 0 10px;
}
.wrap .wrap-inner .main .main-inner .swiper-container .swiper-button-prev,
.wrap .wrap-inner .main .main-inner .swiper-container .swiper-button-next {
  display: none;
}
.wrap .wrap-inner .main .main-inner .shop .shop-inner ul {
  overflow: hidden;
}
.wrap .wrap-inner .main .main-inner .shop .shop-inner ul li {
  width: 33.3%;
  float: left;
}
.wrap .wrap-inner .main .main-inner .shop .shop-inner ul li img {
  width: 100%;
}
.wrap .wrap-inner .main .main-inner .shop .shop-inner ul li dl dt {
  float: left;
}
.wrap .wrap-inner .main .main-inner .shop .shop-inner ul li dl dd {
  float: left;
}
.wrap .wrap-inner .main .main-inner .shop .shop-inner ul .first dl dt {
  width: 50%;
}
.wrap .wrap-inner .main .main-inner .shop .shop-inner ul .first dl dd {
  width: 50%;
}
.wrap .wrap-inner .main .main-inner .shop .shop-inner ul .first dl dd:last-child {
  width: 100%;
}
.wrap .wrap-inner .main .main-inner .shop .shop-inner ul .second {
  width: 33.4%;
}
.wrap .wrap-inner .main .main-inner .shop .shop-inner ul .second dl dt {
  width: 50%;
}
.wrap .wrap-inner .main .main-inner .shop .shop-inner ul .second dl dd {
  width: 50%;
}
.wrap .wrap-inner .main .main-inner .shop .shop-inner ul .third dl dt {
  width: 100%;
}
.wrap .wrap-inner .main .main-inner .shop .shop-inner ul .third dl dd {
  width: 50%;
}
.wrap .wrap-inner .main .main-inner .shop .shop-inner .shop-discover {
  background-color: #282f35;
  padding: 75px 0px;
}
.wrap .wrap-inner .main .main-inner .shop .shop-inner .shop-discover p {
  max-width: 300px;
  margin: 0 auto;
  width: 100%;
}
.wrap .wrap-inner .main .main-inner .shop .shop-inner .shop-discover p img {
  width: 100%;
}
.wrap .wrap-inner .main .main-inner .search {
  margin-bottom: 110px;
}
.wrap .wrap-inner .main .main-inner .search .search-inner {
  max-width: 563px;
  width: 100%;
  margin: 110px auto 0;
}
.wrap .wrap-inner .main .main-inner .search .search-inner .search-visual {
  max-width: 95px;
  width: 100%;
  margin: 0 auto 40px;
}
.wrap .wrap-inner .main .main-inner .search .search-inner .search-visual img {
  width: 100%;
}
.wrap .wrap-inner .main .main-inner .search .search-inner p {
  margin-top: 40px;
  font-size: 24px;
  color: #848789;
  width: 228px;
  margin: 0 auto 35px;
}
.wrap .wrap-inner .main .main-inner .search .search-inner .placeholder {
  max-width: 536px;
  margin: 0 auto;
  width: 100%;
}
.wrap .wrap-inner .main .main-inner .search .search-inner .placeholder form {
  overflow: hidden;
}
.wrap .wrap-inner .main .main-inner .search .search-inner .placeholder form input {
  float: left;
  color: #c8c8c8;
}
.wrap .wrap-inner .main .main-inner .search .search-inner .placeholder form .in-search {
  width: 75%;
  padding: 15px 20px 15px 27px;
  font-size: 20px;
  margin-right: 1.4%;
  border: 1px solid #c8c8c8;
}
.wrap .wrap-inner .main .main-inner .search .search-inner .placeholder form .in-submit {
  width: 23%;
  font-size: 24px;
  padding: 13px 0px;
  background-color: #64c29e;
  color: #fff;
  border: none;
  cursor: pointer;
}
.wrap .footer {
  background-color: #f7f7f7;
  padding: 100px 40px;
}
.wrap .footer .footer-inner {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.wrap .footer .footer-inner .footer-vertical {
  font-size: 14px;
  color: #848789;
}
.wrap .footer .footer-inner .left {
  width: 516px;
}
.wrap .footer .footer-inner .center {
  width: 452px;
}
.wrap .footer .footer-inner .left dl dt {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.6;
}
.wrap .footer .footer-inner .left dl dd {
  line-height: 1.6;
}
.wrap .footer .footer-inner .center ul {
  display: flex;
  align-items: center;
}
.wrap .footer .footer-inner .center ul li:not(:last-child) {
  margin-right: 15px;
}
.wrap .footer .footer-inner .right dl {
  display: flex;
  align-items: center;
}
.wrap .footer .footer-inner .right dl dt {
  margin-right: 10px;
}
.wrap .footer .credit {
  max-width: 1140px;
  width: 100%;
  margin: 50px auto 0px;
  color: #848789;
}
.wrap .footer .credit p {
  font-weight: bold;
  line-height: 1.6;
}
.wrap .footer .credit ul li {
  line-height: 1.6;
}
.wrap .footer .credit ul li a {
  color: #848789;
}/*# sourceMappingURL=style.css.map */