h2.c-head_2 {
    font-size: 40px;
    font-weight: bold;
    color: $c_glay;
    text-align: center;
    margin-bottom: 70px;
    line-height: 1;
    width: fit-content;
    text-align: center;
    margin: 0 auto 70px;
    &::after {
        content: "";
        border-bottom: 2px solid;
        border-image: -moz-linear-gradient(to right, #a7d5c9 0%, #048e67 100%);
        border-image: -webkit-linear-gradient(to right, #a7d5c9 0%, #048e67 100%);
        border-image: linear-gradient(to right, #a7d5c9 0%, #048e67 100%);
        border-image-slice: 1;
        // width: 40px;
        width: 28%;
        display: block;
        // height: 2px;
        margin: 10px auto;
    }
}

h3.c-head_3 {
    font-size: 32px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    color: $c_glay;
    &::before {
        content: "";
        width: 8px;
        height: 50px;
        background-color: $c_glay;
        display: block;
        margin-right: 20px;
    }
}

@media screen and (max-width: 768px) {
    h2.c-head_2 {
        font-size: 32px;
        margin-bottom: 40px;
        &::after {
            content: "";
            border-bottom: 1px solid;
            border-image-slice: 1;
        }
    }
    h3.c-head_3 {
        font-size: 24px;
        margin-bottom: 30px;
    }
}