.p-p_portfolio #p-port_detail {
  max-width: 1040px;
  width: 100%;
  margin: 0px auto 180px;
  padding: 0px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.p-p_portfolio #p-port_detail .p-detail_pic {
  margin-bottom: 70px;
  border: 13px solid rgba(52, 52, 52, 0.92);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.p-p_portfolio #p-port_detail .p-detail_pic img {
  max-width: 1000px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-p_portfolio #p-port_detail .p-detail_banner .p-detail_b_in {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 60px;
}

.p-p_portfolio #p-port_detail .p-detail_banner .p-detail_b_in p {
  margin-bottom: 10px;
}

.p-p_portfolio #p-port_detail .p-detail_banner .p-detail_b_in img {
  width: 100%;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

@media all and (-ms-high-contrast: none) {
  .p-p_portfolio #p-port_detail .p-detail_banner .p-detail_b_in {
    text-align: center;
  }
  .p-p_portfolio #p-port_detail .p-detail_banner .p-detail_b_in img {
    width: auto;
  }
}

.p-p_portfolio #p-port_detail .p-content_block {
  margin-bottom: 70px;
}

.p-p_portfolio #p-port_detail .p-content_block .p-detail-des p {
  font-size: 16px;
  font-weight: normal;
}

.p-p_portfolio #p-port_detail .p-content_block .p-detail-des p:not(:last-child) {
  margin-bottom: 25px;
}

.p-p_portfolio #p-port_detail .p-content_block .p-detail-pic {
  margin-bottom: 30px;
  border: 5px solid #343434;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.p-p_portfolio #p-port_detail .p-content_block .p-detail-pic img {
  max-width: 1000px;
  width: 100%;
  vertical-align: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-p_portfolio #p-port_detail .p-content_block .p-detail-point ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.p-p_portfolio #p-port_detail .p-content_block .p-detail-point ul li:nth-of-type(-n+2) {
  margin-bottom: 33px;
}

.p-p_portfolio #p-port_detail .p-content_block .p-detail-point ul li {
  max-width: 480px;
  width: 48%;
  font-weight: normal;
}

.p-p_portfolio #p-port_detail .p-content_block .p-detail-point ul li .p-point_box .p-box_pic {
  position: relative;
  margin-bottom: 15px;
}

.p-p_portfolio #p-port_detail .p-content_block .p-detail-point ul li .p-point_box .p-box_pic p {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  background-color: #343434;
  position: absolute;
  padding: 9px 15px;
}

.p-p_portfolio #p-port_detail .p-content_block .p-detail-point ul li .p-point_box .p-box_pic img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: bottom;
  max-width: 480px;
  width: 100%;
  border: 5px solid #343434;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.p-p_portfolio #p-port_detail .p-content_infor {
  margin-top: -10px;
}

.p-p_portfolio #p-port_detail .p-content_infor li {
  margin-bottom: 7px;
}

.p-p_portfolio #p-port_detail .p-content_infor dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-p_portfolio #p-port_detail .p-content_infor dl dt {
  margin-right: 20px;
}

.p-p_portfolio #p-port_detail .p-content_infor dl dd.p-_post_url a {
  color: #4280ff;
}

@media screen and (max-width: 768px) {
  .p-p_portfolio #p-port_detail {
    margin: 0px auto 80px;
    padding: 0px 10px;
  }
  .p-p_portfolio #p-port_detail .p-detail_pic {
    margin-bottom: 50px;
  }
  .p-p_portfolio #p-port_detail .p-content_block {
    margin-bottom: 50px;
  }
  .p-p_portfolio #p-port_detail .p-content_block .p-detail-des p:not(:last-child) {
    margin-bottom: 20px;
  }
  .p-p_portfolio #p-port_detail .p-content_block .p-detail-point ul {
    display: block;
  }
  .p-p_portfolio #p-port_detail .p-content_block .p-detail-point ul li {
    margin-bottom: 33px;
    width: 100%;
    margin: 0 auto;
  }
  .p-p_portfolio #p-port_detail .p-content_block .p-detail-point ul li:nth-of-type(-n+3) {
    margin-bottom: 33px;
  }
  .p-p_portfolio #p-port_detail .p-content_infor {
    margin-top: -10px;
  }
}
/*# sourceMappingURL=p-portfolio.css.map */