#p-service {
  max-width: 1040px;
  width: 100%;
  margin: 0px auto 180px;
  padding: 0px 20px;
  box-sizing: border-box;
}
#p-service h3 {
  font-size: 26px;
  margin-bottom: 25px;
}
#p-service .p-service_pic {
  margin-bottom: 70px;
}
#p-service .p-service_pic img {
  max-width: 1000px;
  width: 100%;
}
#p-service .p-s_block {
  margin-top: 160px;
}
#p-service .p-s_about p {
  font-size: 16px;
  font-weight: normal;
}
#p-service .p-s_about p:not(:last-child) {
  margin-bottom: 25px;
}
#p-service .p-s_about .p-comment {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
#p-service .p-s_about .p-comment p.p-comment_left {
  width: 58px;
  min-width: 58px;
  max-width: 58px;
  height: 58px;
  display: block;
  border-radius: 40px;
  border: 3px solid #343434;
  margin-right: 50px;
  margin-bottom: 0px;
  background: no-repeat url(../image/person.png) -1px 7px;
  background-size: 100%;
}
#p-service .p-s_about .p-comment p.p-comment_right {
  padding: 20px 25px;
  background-color: #343434;
  color: #fff;
  position: relative;
  font-size: 18px;
}
#p-service .p-s_about .p-comment p.p-comment_right::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 25px 10px 0;
  border-color: transparent #343434 transparent transparent;
  display: block;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-100%, -50%);
}
#p-service .p-s_about .p-comment-first {
  margin-top: 30px;
}
#p-service .p-s_about .p-comment-last {
  margin-bottom: 30px;
}
#p-service .p-s_request .p-s_r_box {
  display: flex;
  justify-content: space-between;
}
#p-service .p-s_request .p-s_r_box .p-box_left {
  max-width: 312px;
  width: 100%;
  margin-right: 38px;
}
#p-service .p-s_request .p-s_r_box .p-box_left p {
  font-size: 16px;
  font-weight: normal;
}
#p-service .p-s_request .p-s_r_box .p-box_left p span {
  font-size: 20px;
  font-weight: bold;
  display: block;
  line-height: 1.6;
  margin-bottom: 20px;
}
#p-service .p-s_request .p-s_r_box .p-box_right {
  max-width: 650px;
  width: 100%;
}
#p-service .p-s_request .p-s_r_box .p-box_right ul {
  display: flex;
  justify-content: space-between;
}
#p-service .p-s_request .p-s_r_box .p-box_right li {
  width: 31%;
  max-width: 200px;
}
#p-service .p-s_request .p-s_r_box .p-box_right li a {
  text-decoration: none;
  color: #000000;
}
#p-service .p-s_request .p-s_r_box .p-box_right li a:hover dt span {
  opacity: 1;
}
#p-service .p-s_request .p-s_r_box .p-box_right li a:hover dt span::before {
  transform: translateX(0);
}
#p-service .p-s_request .p-s_r_box .p-box_right li dt {
  margin-bottom: 20px;
  position: relative;
}
#p-service .p-s_request .p-s_r_box .p-box_right li dt img {
  display: flex;
  vertical-align: bottom;
  max-width: 200px;
  width: 100%;
}
#p-service .p-s_request .p-s_r_box .p-box_right li dt span {
  max-width: 145px;
  width: 100%;
  background: linear-gradient(to right, #343434 25%, #343434 100%);
  transition: 0.5s;
  overflow: hidden;
  opacity: 0.9;
  color: #fff;
  text-align: center;
  padding: 15px 10px;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 15px;
  box-sizing: border-box;
}
#p-service .p-s_request .p-s_r_box .p-box_right li dt span::before {
  content: "";
  width: 100%;
  position: absolute;
  top: 0;
  right: -60px;
  z-index: -1;
  border-right: 60px solid;
  border-bottom: 60px solid;
  -o-border-image: linear-gradient(to right, #418875 25%, #0d4739 100%);
     border-image: linear-gradient(to right, #418875 25%, #0d4739 100%);
  transform: translateX(-100%);
  transition: transform ease 0.3s;
  border-image-slice: 1;
}
#p-service .p-s_request .p-s_r_box .p-box_right li dd {
  font-size: 16px;
  font-weight: normal;
}
#p-service .p-s_request .p-s_r_box .p-box_right li:nth-of-type(2) {
  margin-right: 25px;
  margin-left: 25px;
}
#p-service .p-s_request .p-s_detail {
  margin-top: 70px;
}
#p-service .p-s_request .p-s_detail .p-s_d_block dl {
  display: flex;
  justify-content: space-between;
}
#p-service .p-s_request .p-s_detail .p-s_d_block dt {
  margin-right: 30px;
}
#p-service .p-s_request .p-s_detail .p-s_d_block dt img {
  display: flex;
  vertical-align: bottom;
  max-width: 300px;
  width: 100%;
}
#p-service .p-s_request .p-s_detail .p-s_d_block dd {
  max-width: 670px;
  width: 100%;
  font-weight: normal;
}
#p-service .p-s_request .p-s_detail .p-s_d_block dd p:not(:last-child) {
  margin-bottom: 20px;
}
#p-service .p-s_request .p-s_detail .p-s_d_block:not(:last-child) {
  margin-bottom: 50px;
}
#p-service .p-s_others .c-btn {
  margin: 40px auto;
}

@media screen and (max-width: 870px) {
  #p-service .p-s_request .p-s_r_box {
    display: block;
  }
  #p-service .p-s_request .p-s_r_box .p-box_left {
    max-width: 768px;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
  }
  #p-service .p-s_request .p-s_r_box .p-box_right {
    margin: 0 auto;
  }
  #p-service .p-s_request .p-s_r_box .p-box_right li dt img {
    width: 100%;
  }
  #p-service .p-s_request .p-s_r_box .p-box_right li dt span {
    font-size: 16px;
    max-width: 125px;
  }
  #p-service .p-s_request .p-s_r_box .p-box_right li:nth-of-type(2) {
    margin-right: 3.5%;
    margin-left: 3.5%;
  }
}
@media screen and (max-width: 768px) {
  h2.c-head_2 {
    font-size: 28px;
  }
  #p-service h3 {
    font-size: 26px;
  }
  #p-service {
    margin-bottom: 100px;
  }
  #p-service .p-s_about .p-comment p.p-comment_right {
    font-size: 16px;
  }
  #p-service .p-s_block {
    margin-top: 80px;
  }
  #p-service .p-s_request .p-s_r_box {
    display: block;
  }
  #p-service .p-s_request .p-s_detail .p-s_d_block dt {
    margin-right: 15px;
  }
  #p-service .p-s_request .p-s_detail .p-s_d_block dt img {
    width: 100%;
  }
  #p-service .p-others_des {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  #p-service .p-s_request .p-s_r_box .p-box_right ul {
    display: block;
  }
  #p-service .p-s_request .p-s_r_box .p-box_right li {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
  #p-service .p-s_request .p-s_r_box .p-box_right li dt {
    margin-bottom: 15px;
  }
  #p-service .p-s_request .p-s_r_box .p-box_right li dt img {
    max-width: 480px;
  }
  #p-service .p-s_request .p-s_r_box .p-box_right li dt span {
    font-size: 18px;
    max-width: 145px;
  }
  #p-service .p-s_request .p-s_r_box .p-box_right li:not(:last-child) {
    margin: 0 auto 30px;
  }
}/*# sourceMappingURL=p-service.css.map */