.p-p_works {
    margin-top: 60px;
    #p-port_card {
        max-width: 1040px;
        width: 100%;
        margin: 0px auto 0px;
        padding: 0px 20px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        .p-work-des {
            margin-bottom: 70px;
            font-weight: normal;
            p:not(:last-child) {
                margin-bottom: 25px;
            }
        }
        .p-port_block:last-child {
            margin-bottom: 0px;
        }
        .p-port_block {
            margin: 0px auto 125px;
            max-height: 510px;
            height: 100%;
            // h3 {
            //     font-size: 32px;
            //     font-weight: bold;
            //     display: flex;
            //     margin-bottom: 30px;
            //     color: $c_glay;
            //     &::before {
            //         content: "";
            //         width: 8px;
            //         height: 50px;
            //         background-color: $c_glay;
            //         display: block;
            //         margin-right: 20px;
            //     }
            // }
            .p-port_inner {
                position: relative;
                .p-port_img {
                    div.p-port_img_in {
                        position: relative;
                        width: 100%;
                        max-width: 547px;
                        a {
                            display: flex;
                            position: relative;
                            &:hover {
                                .shadow-box {
                                    opacity: 1;
                                    left: 0%;
                                }
                            }
                            .shadow-box {
                                position: absolute;
                                // max-width: 497px;
                                width: 100%;
                                // max-height: 425px;
                                height: 100%;
                                top: 0%;
                                left: -20%;
                                color: #fff;
                                background-color: rgba(52, 52, 52, 0.8);
                                transition: 0.2s ease-in-out;
                                -webkit-transition: 0.2s ease-in-out;
                                transition: 0.2s ease-in-out;
                                opacity: 0;
                                span {
                                    font-size: 40px;
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    -webkit-transform: translate(-50%, -50%);
                                    transform: translate(-50%, -50%);
                                }
                            }
                        }
                        img {
                            max-width: 547px;
                            width: 100%;
                            border: 5px solid $c_glay;
                            box-sizing: border-box;
                        }
                    }
                }
                .p-port_des {
                    max-width: 550px;
                    width: 100%;
                    // background-color: $c_glay;
                    background-color: rgba(52, 52, 52, 0.92);
                    padding: 25px 20px;
                    position: absolute;
                    top: 80px;
                    // left: 44.9%;
                    right: 2px;
                    box-sizing: border-box;
                    p {
                        color: #fff;
                        font-size: 18px;
                        font-weight: normal;
                    }
                    p:not(:last-child) {
                        margin-bottom: 40px;
                        text-shadow: -1px 1px 18px #000000;
                    }
                }
                .c-btn {
                    margin-left: auto;
                    margin-right: 0px;
                    margin-top: 60px;
                    a {
                        //     max-width: 166px;
                        //     width: 100%;
                        // color: $c_glay!important;
                        // text-decoration: none;
                        // padding: 15px 20px;
                        // background-color: $b_yellow;
                        // display: block;
                        // box-sizing: border-box;
                        // box-sizing: border-box;
                        // font-weight: bold;
                        color: #fff;
                        font-size: 18px;
                        font-weight: bold;
                        // background-color: #feca1e;
                        background: -moz-linear-gradient(to right, #47a28c 25%, #0d4739 100%);
                        background: -webkit-linear-gradient(to right, #418875 25%, #0d4739 100%);
                        background: linear-gradient(to right, #418875 25%, #0d4739 100%);
                        max-width: 166px;
                        width: 100%;
                        // height: 54px;
                        text-align: center;
                        line-height: 60px;
                        text-decoration: none;
                        position: relative;
                        z-index: 1;
                        display: block;
                        overflow: hidden;
                        transition: 0.3s;
                        &::before {
                            content: "";
                            width: 100%;
                            position: absolute;
                            top: 0;
                            right: -60px;
                            z-index: -1;
                            border-right: 60px solid;
                            border-bottom: 60px solid #298b70;
                            background: -moz-linear-gradient(to right, #fff 100%);
                            background: -webkit-linear-gradient(to right, #fff 100%);
                            background: linear-gradient(to right, #fff 100%);
                            transform: translateX(-100%);
                            transition: transform ease 0.3s;
                            // border-image: linear-gradient(to right, #01b385 25%, #0d4739 100%);
                            border-image-slice: 1;
                        }
                        &:hover {
                            color: #fff;
                        }
                        &:hover::before {
                            transform: translateX(0);
                        }
                    }
                }
            }
        }
        // .p-t_c_block:nth-of-type(3) {
        //     margin-bottom: 60px;
        // }
    }
}

@media screen and (max-width: 768px) {
    .p-p_works {
        margin-top: 40px;
        #p-port_card {
            padding: 0px 10px;
            .p-port_block {
                height: 100%;
                max-height: inherit;
                margin: 0px auto 70px;
                .p-port_inner {
                    .p-port_img {
                        text-align: center;
                        margin-bottom: 15px;
                        a {
                            display: flex;
                            vertical-align: bottom;
                            justify-content: space-around;
                        }
                        .p-port_img_in {
                            margin: 0 auto;
                        }
                    }
                    .p-port_des {
                        position: initial;
                        margin: 0 auto;
                        text-align: left;
                        p {
                            font-size: 16px;
                        }
                        p:not(:last-child) {
                            margin-bottom: 20px;
                        }
                    }
                    .c-btn {
                        margin-top: 30px;
                        a {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .p-p_works {
        #p-port_card {
            .p-port_block {
            }
        }
    }
}
